.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.add-reservation-card {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

.reservation-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 20px 0;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
